:root {
  --background-color: #3C3836;
  --maze-color: #504945;
  --wall-color: #665C54;
  --guide-color: #fe8019;
  --path-color: #8EC07C;
  --target-color: #D3869B;
  --visited-color: #928374;
  --text-color: #FBF1C7;
  --link-color: #83A598;
}

body {
  height: 100vh;
  margin: 0px;
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  place-items: center;
  font-family: 'Rubik', sans-serif;
  color: var(--text-color);
}

.titlebar {
  grid-column: 1 / 4;
}

.titlebar>h1 {
  text-align: center;
}

.links {
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
  padding: 0.5rem 0px;
}

a,
a:visited {
  color: var(--link-color);
}

#maze {
  margin: 1rem;
  width: min(70vw, 70vh);
  aspect-ratio: 1;
  background-color: var(--maze-color);
  display: grid;
  --rows: 0;
  --cols: 0;
  grid-template-rows: repeat(var(--rows), 1fr);
  grid-template-columns: repeat(var(--cols), 1fr);
}

.tile {
  box-sizing: border-box;
  aspect-ratio: 1;
}